* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(23, 107, 135), rgb(100, 204, 197));
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img {
  width: 10rem;
}

h1 {
  color: lightgrey;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid black;  
  color: #e27e31;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-player-turn, .outcome-message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: lightgrey;
}

.reset, .try-again {
  margin-top: 2rem;
}

.reset, .try-again {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  width: 8rem;
  color: #552806;
  background-color: #FF9B50;
}

.hidden {
  display: none;
}

footer {
  color: lightgrey;
}

#github i {
  color: lightgrey;
  transition: 0.2s all ease-in-out;
}

/* Hover Effects */
.board-cell:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#github i:hover {
  transition: 0.2s all ease-in-out;
  transform: scale(1.1);
  color: rgb(5, 5, 5);
}

.reset:hover, .try-again:hover {
  background-color: lightgrey;
  color: black;
} 

@media (max-width: 491px) {
  .board-cell {
    font-size: 3.5rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid black;  
    color: #e27e31;
  }
}